
@{
    ViewData["Title"] = "AddProperty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<form asp-controller="Home" asp-action="">
    <button class="rounded btn btn-success" type="submit">Back To Home</button>
</form>

